body{}

header{background: linear-gradient(45deg, #d635ff, transparent);}
.logo{}
.logo img{    width: 3%;
    margin: 0px 50px;}
#navber{margin-top: -3%;
    margin-left: -2%;}
#navber ul{    text-transform: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    margin-left: 58%;
    font-size: 25px;}
#navber ul li{}
#navber ul li a{    text-decoration: none;
    color: #6600c5;}
.picture{    margin: -25px -1px;}
.pic img{width: 100%;
    margin: -36% 34%;
    color: #fff2d9;
    border: 3px solid wheat;
    padding: 1%;
    border-radius: 10px;}
.text h1{text-align: center;
    color: #f2e5ff;}
.text h2{    text-align: justify;}
.text button{}
















